%form{:method => "post"}
	%label client_id
	%input{:type => "text", :name => "client_id"}/
	%br/
	%label client_secret
	%input{:type => "text", :name => "client_secret"}
	%br/
	%input{:type => "submit", :value => "Get Authorization"}/