%form{:method => "post"}
	%label Sender Email Address
	%input{:type => "text", :name => "sender"}/
	%br/
	%label Filename (example.csv)
	%input{:type => "text", :name => "filename"}
	%br/
	%input{:type => "submit", :value => "Scrape Email"}/