%h1 Once the tokens have been created you can run extract the .csv file from gmail.
%h3 It is only neccesary to create the tokens once.
%a{:href => "/clientForm"} create tokens
%br/
%a{:href => "/gmailForm"} extract .csv from gmail